@keyframes appear {
    from { opacity: 0; }
    to { opacity: 1 }
}

@keyframes typein {
    0% { width: 0 }
    100% { width: 100% }
}

.container {
    padding: 50px;
}

.box {
    margin-top: 20px;
}

footer {
    font-weight: bold;
}

.box {
    animation-name: appear;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-duration: 0.8s;
}

.loading {
    animation-name: typein;
    animation-duration: 5s;
    width: 0; 
    white-space: nowrap;
    overflow: hidden;
    animation-fill-mode: forwards;
}

.avatar {
    width: 100px;
    border-radius: 10%;
}